		<?=$this->divfull('servicos')->open()?>
		<? $img = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1; ?>
    	<? $css = 'style="background-image:url('.$img.')"'; ?>
        <div class="main-servicos-titulo-container" <?=$css?>>
        <div class="main-center servicos-titulo">
        	<h1 class="titulo-servicos"><?=$this->titulo?></h1>
        </div>
        </div>
		<?=$this->divfull()->close()?>
		<br clear="all">
	
		<? if($this->row){ ?>
		<?=$this->render('servicos/interna.phtml')?>
		<? } // /if $this->row ?>
		
		<? if($this->rows){ ?>
		<h1>Conheça todos os nossos serviços:</h1>

		<nav id="servicos">
			<? $i=0; foreach($this->rows as $row){ $i++; ?>
			<? $url = URL.'/servicos/'.$row->alias.'-'.$row->id; ?>
			<? $img = (bool)trim($row->foto_path) ? IMG_URL.'/servicos/'.$row->foto_path : IMG_URL.'/not-found.jpg'; ?>
			<? $css = 'style="background-image:url('.$img.')"'; ?>
			<? $class = $i%3==0 ? 'last3' : ''; ?>
			<? $class2= $i%2==0 ? 'last2' : ''; ?>
			<a href="<?=$url?>" class="row-servico <?=$class?> <?=$class2?>">
				<span class="img" <?=$css?>>
					<img src="<?=$img?>" alt="<?=$row->titulo?>">
				</span>
				<span class="titulo"><?=$row->titulo?></span>
			</a>
			<? if($class=='last3'){ ?><br clear="all" class="desktop"><? } ?>
			<? if($class=='last2'){ ?><br clear="all" class="mobile-tab"><? } ?>
			<? } // /foreach this->rows ?>
		</nav>
		<br clear="all">
		<? } // /if $this->rows ?>