		<h1 class="servico-titulo-interna"><?=$this->row->titulo?></h1>

		<?=$this->divfull('servico')->open()?>
		<section id="servico-interna-wrapper">
		<section id="servico-interna">
			<? $img = (bool)trim($this->row->foto_path) ? IMG_URL.'/servicos/'.$this->row->foto_path : false; ?>
			<? if($img){ ?>
			<figure class="servico-img">
				<img src="<?=$img?>" alt="<?=$this->row->titulo?>">
			</figure>
			<? } // /if $img ?>

			<div class="servico-body">
				<?=$this->row->body?>
			</div>

			<br clear="all">
		</section>
		<br clear="all">
		<br clear="all">
		<br clear="all">
		<a href="<?=URL?>/servicos" class="voltar">VOLTAR</a>
		</section>
		<?=$this->divfull('servico')->close()?>
