<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');;//,$js_path.'alert2.js');//,$js_path.'is.shop.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) $this->meta_keywords = Is_Str::text2keywords($this->meta_description);

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    MODULE     = "<?=$this->module?>",
    MODULO     = "<?=$this->module?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
</script>

<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,300i,400i,700i|Encode+Sans:300,400,600" rel="stylesheet">
<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>
<body class=" body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>

<div id="top-end-container">
    <div id="top-end" class="main-center">
        <span class="end">
            <?=$this->dados->endereco?>,
            <?=$this->dados->cidade?>/
            <?=$this->dados->estado?>
        </span>
        <span class="tel">
            <b>Telefone:</b>
            <?=$this->dados->tel1?>
            | <?=$this->dados->tel2?>
        </span>
    </div>
</div>

<div id="top-container">
    <header id="top" class="main-center top-<?=$this->controller?>">
        <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
        
        <button id="mobile-toggle" type="button" role="button" class="mobile">
            <span class="lines"></span>
        </button>
        <nav class="top-menu" id="top-menu">
            <?=$this->navigation()->menu($this->menu->top);?>
        </nav>
    </header>
</div>
    
<div class="main main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <div id="content" class="content main-center content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <article><?=$this->layout()->content;?></article>
        <? if($this->controller!='index'){ ?>
        <br clear="all" />
        <? } // /if $this->controller!='index' ?>
    </div>
</div>

<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <? if($this->controller!='index'){ ?>
    <footer class="footer1 main-center">
        <div class="credit end">
            <b class="title">Endereço:</b>
            <?=$this->dados->endereco?>,
            <?=$this->dados->cidade?>/
            <?=$this->dados->estado?><br>
            Cep: <?=Is_Format::cep($this->dados->cep)?>
        </div>
        <div class="credit tel">
            <b class="title">Telefone:</b>
            <a href="tel:<?=$this->dados->tel1?>"><?=$this->dados->tel1?></a> <br>
            <a href="tel:<?=$this->dados->tel2?>"><?=$this->dados->tel2?></a>
        </div>
        <div class="credit mail">
            <b class="title">E-mail:</b>
            <a href="mailto:<?=$this->dados->email2?>"><?=$this->dados->email2?></a> <br>
            <a href="mailto:<?=$this->dados->email3?>"><?=$this->dados->email3?></a>
        </div>
        <div class="credit atend">
            <b class="title">Horário De Funcionamento:</b>
            <?=nl2br($this->dados->atendimento)?>
        </div>
        <br clear="all">
    </footer>
    <? } ?>

    <hr class="b">
    <footer class="footer2 main-center">
        <span class="credits">
            &copy; <?=date("Y")?> <?=SITE_TITLE?> 
            <span class="desktop">-</span>
            <span class="mobile-tab">-</span>
            <br class="mobile-cel">
            Todos os direitos reservados. <br>
            <a href="http://www.trupe.net" target="_blank">Criação de sites:</a>
            <a href="http://www.trupe.net" target="_blank">Trupe Agência Criativa <img src="<?=CSS_PATH?>/img/footer_icone-trupe.png" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"></a>
        </span>
    </footer>
</div>

<?=Js::$script_min($js).PHP_EOL?>

<? if(APP_ENV=='production1'){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

</body>
</html>