        <div class="pagina-body body1">
        	<div class="pagina-body-text">
        		<h1><?=$this->pagina->titulo2?></h1>
        		<br>
        		<?=$this->pagina->body?>
        	</div>
        	
        	<? if((bool)trim($this->pagina->fotos_fixas->foto1)){ ?>
        	<? $img = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1; ?>
        	<div class="pagina-body-img">
        		<img src="<?=$img?>" alt="<?=$this->pagina->titulo2?>">
        	</div>
        	<? } ?>

        	<br clear="all" class="desktop">
        </div>

    	<? if((bool)trim($this->pagina->fotos_fixas->foto2)){ ?>
    	<? $img = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto2; ?>
    	<? $css = 'style="background-image:url('.$img.')"'; ?>
        <?=$this->divfull('empresa')->open()?>
        <div class="main-center pagina-foto-full" <?=$css?>>
        	<? if((bool)trim($this->pagina->fotos_fixas->foto1)){ ?>
        	<span class="box"></span>
        	<? } ?>
        </div>
		<?=$this->divfull()->close()?>
    	<? } ?>

    	<div class="main-center">
        <div class="container-missao">
        <div class="pagina-body body2">
            <span class="icone"></span>
            <span class="borda"></span>
            <h1><?=$this->pagina->body2_titulo?></h1>
            <div class="pagina-body-text">
                <?=$this->pagina->body2?>
            </div>
        </div>
        <div class="pagina-body body3">
            <span class="icone"></span>
            <span class="borda"></span>
            <h1><?=$this->pagina->body3_titulo?></h1>
            <div class="pagina-body-text">
                <?=$this->pagina->body3?>
            </div>
        </div>
        <br clear="all">
        <br clear="all">
        <br clear="all">
        <br clear="all">
        </div> <!-- .container-missao -->

        <div class="container-politica">   
        <div class="pagina-body body4">
            <h1><?=$this->pagina->body4_titulo?></h1>
            <div class="pagina-body-text">
                <?=$this->pagina->body4?>
            </div>
        </div>
        <div class="pagina-body body5">
            <div class="pagina-body-text">
                <?=$this->pagina->body5?>
            </div>
        </div>
        <br clear="all">
        <br clear="all">
        <br clear="all">
        </div> <!-- /.container-politica -->
    	</div> <!-- /.main-center -->








