<div class="content-contato">
    <h1><?=$this->titulo?>:</h1>
    <br clear="all">

    <span class="dados end">
        <b>Endereço:</b> <br>
        <?=$this->dados->endereco?>,
        <?=$this->dados->cidade?>/
        <?=$this->dados->estado?> <br>
        Cep: <?=Is_Format::cep($this->dados->cep)?>
    </span>

    <span class="dados tel">
        <b>Telefone:</b> <br>
        <?=$this->dados->tel1?> <br>
        <?=$this->dados->tel2?>
    </span>
    <br clear="all">

    <? if((bool)trim(@$this->pagina->fotos_fixas->foto1)){ ?>
    <? $img = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1; ?>
    <figure class="dados-img">
        <img src="<?=$img?>" alt="<?=$this->pagina->titulo2?>">
    </figure>
    <? } // /if (bool)trim(@$this->pagina->fotos_fixas->foto1) ?>
</div>
<br clear="all" class="mobile-cel">

<div class="content-fale-conosco">
    <h1>Fale conosco:</h1>
    <form action="<?=URL?>/contato/enviar" class="contato fale incomplete" method="post">
        <input type="hidden" name="assunto" value="Fale conosco">
        <div class="campos">
            <input type="text" id="fale-nome" name="nome" class="txt txt-nome required" placeholder="Digite seu nome:" autocomplete="nope">
            <input type="text" id="fale-email" name="email" class="txt txt-email required" placeholder="Digite seu e-mail:" autocomplete="nope">
            <input type="text" id="fale-telefone" name="telefone" class="txt txt-telefone mask-cel required" placeholder="Digite seu telefone:" autocomplete="nope">
            <input type="text" id="fale-mensagem" name="mensagem" class="txt txt-mensagem required" placeholder="Digite sua mensagem:" autocomplete="nope">
            <div id="fale-enviar" class="txt-enviar">ENVIAR</div>
            <span class="load"></span>
            <a href="#" class="submit" id="submit">Enviar</a>
        </div>
        <input type="submit" class="hidden">
        <p class="status">&nbsp;</p>
    </form>
    <br clear="all" />
    
    <h1>Solicite um orçamento:</h1>
    <form action="<?=URL?>/contato/enviar-orcamento" class="contato orc incomplete" method="post">
        <input type="hidden" name="assunto" value="Orçamento">
        <div class="campos">
            <input type="text" id="orc-nome" name="nome" class="txt txt-nome required" placeholder="Digite seu nome:" autocomplete="nope">
            <input type="text" id="orc-email" name="email" class="txt txt-email required" placeholder="Digite seu e-mail:" autocomplete="nope">
            <input type="text" id="orc-telefone" name="telefone" class="txt txt-telefone mask-cel required" placeholder="Digite seu telefone:" autocomplete="nope">
            <input type="text" id="orc-mensagem" name="mensagem" class="txt txt-mensagem required" placeholder="Digite sua mensagem:" autocomplete="nope">
            <div id="orc-enviar" class="txt-enviar">ENVIAR</div>
            <span class="load"></span>
            <a href="#" class="submit" id="submit-orc">Enviar</a>
        </div>
        <input type="submit" class="hidden">
        <p class="status">&nbsp;</p>
    </form>
    <!-- <br clear="all" /> -->
</div>
<br clear="all" />

<? if(ENV_PRO||1){ ?>
<iframe id="mapa" src="https://maps.google.com/maps?q=<?=_parseEndereco($this->dados)?>&output=embed" width="50%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
<? } ?>